.hero {
  background-color: #e7e3ed;
  padding: 1rem;
  text-align: center;
}

.heroDescription {
  padding-bottom: 1.25rem;
}

.shortInfo {
  color: #777;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactHeading {
  margin-bottom: 0.5rem;
}

.contactLink {
  color: #111;
  transition: color 0.2s;
}

.heroPhoto {
  width: 80%;
}

@media (min-width: 576px) {
  .hero {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .heroDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .shortInfo {
    margin-bottom: 1.5rem;
  }

  .heroPhoto {
    width: 100%;
  }
}
