.navbar {
  background-color: #b7adca;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: 4.5rem;
}
